
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-4">
        <h2>Añadir Credenciales</h2>
      </div>
    </div>
    <div class="row">
      <div class="offset-md-4 col-md-4">
        <form [formGroup]="FormCredentials" (submit) = "Send()">
          <div class="form-group">
            <label for="exampleInputEmail1">Key</label>
            <input
              formControlName="Key"
              type="key"
              class="form-control"
              id="emailuser"
              aria-describedby="emailHelp"
              placeholder="Ingrese un Key"
            />
          </div>
          <div class="form-group">
            <label for="passuser">Shared Secret</label>
            <input
              formControlName="SharedSecret"
              type="password"
              class="form-control"
              id="IdSharedSecret"
              placeholder="Ingrese una clave secreta"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled] = "FormCredentials.invalid"
          >
            Añadir Credencial
          </button>
        </form>
      </div>
    </div>
  </div>
  <div>