<div class="footer-dark">
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-3 item">
            <h5>Servicios</h5>
            <ul>
              <li><a href="#">Diseño Web</a></li>
              <li><a href="#">Desarrollo de Aplicaciones</a></li>
              <li><a href="#">Consultas</a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-3 item">
            <h5>Otros</h5>
            <ul>
              <li><a href="#">Mision</a></li>
              <li><a href="#">Vision</a></li>
              <li><a href="#">Equipo</a></li>
            </ul>
          </div>
          <div class="col-md-6 item text">
            <h4>Jefferson Geovanny</h4>
            <p>
              Persona altamente capaz, dedicado al Desarrollo y a la innovacion de
              aplicaciones nativas y web.
            </p>
          </div>
        </div>
        <p class="copyright">JeffGeomp © 2021</p>
      </div>
    </footer>
  </div>
  