<div class="container mt-5 mb-5">
    <form>
      <div class="row">
        <div class="col-md-6">
          <h2>Buscar Mensaje por Tag</h2>
        </div>
      </div>
  
      <div class="row mt-3 mb-2">
        <div class="offset-4 col-md-8">
          <form
            class="form-inline"
            [formGroup]="SearchMessageTag"
            (submit)="SearchTag()"
          >
            <div class="form-group mb-2">
              <label for="tag" class="sr-only">Tag</label>
              <input
                formControlName="Tag"
                type="text"
                class="form-control"
                id="tag"
                placeholder="Ingrese el Tag"
              />
            </div>
  
            <button
              type="submit"
              class="btn btn-primary mb-2"
              [disabled] = "SearchMessageTag.invalid"
            >
              Buscar
            </button>
          </form>
        </div>
      </div>
    </form>
  
    <div class="col-md-12 mt-3" *ngIf="Messages.length!=0">
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Identificador</th>
              <th scope="col">Message</th>
              <th scope="col">Tag</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Current of Messages">
              <th scope="row">{{Current.Id}}</th>
              <td>{{Current.Message}}</td>
              <td>{{Current.Tag}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  